<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/javascripts/knockout-3.4.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
  </head>
  <body>
	<header>
	    <% include ../partials/header-admin %>
	</header>    
    <script>
    var tournYear = "<%= tourn_year %>";
    var self = this;
    function tournamentsModel() 
    {
      self.tournaments = ko.observableArray([]);
      $.getJSON("/admin/tournaments/" + tournYear ,function (data) {
            console.log("Data:" + data);
            self.tournaments(data);
            //console.log("Config:" + self.config);
     });
    };
	
    $( document ).ready(function() {
        console.log( "Getting Tournamentss" );
    	ko.applyBindings(new tournamentsModel());
    });
    
    function goToResults(data)
    {
  		console.log($(data).attr('tourn_id'));
  		var tournId = $(data).attr('tourn_id');
  		alert(tournId);
    	window.location.href="/admin/manageresults/" + tournId;
    }
 	
	</script>
    <h1><%= title %></h1>
    <div>
         <ul>
            <li role="presentation"><a href="/admin/updateplayers">Update</a></li>
        </ul>   
    </div>
    <br/>
    <div>
		<table border="1">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Start Date</th>
		          <th>End Date</th>
		          <th>ID</th>
		          <th>Action</th>
		      </tr>
		    </thead>
		      <tbody data-bind="foreach: tournaments">
		        <tr>
		            <td data-bind="text: name"></td>
		            <td data-bind="text: startDate"></td>
		            <td data-bind="text: endDate"</td>
		            <td data-bind="text: ID"></td>
			    <td><input type="button" data-bind="attr: {tourn_id: ID}"onclick="goToResults(this)" value="Results"></button></td>
		        </tr>
		      </tbody>
		  </table>
    </div>
	<footer>
	    <% include ../partials/footer %>
	</footer>
  </body>
</html>
