<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/javascripts/knockout-3.4.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
  </head>
  <body>
	<header>
	    <% include ./partials/header-nonuser %>
	</header>    
    <h1><%= title %></h1>
    <div>
        <h3>Register for 2018 Masters Challenge using a valid registration code.</h3>
    </div>
    <div>
        <a class="divLarge" href='/register/b404a8d5-5e33-4417-ae20-5d4d147042ee'>Register</a>
    </div>
    <div>To obtain a registration code contact Jay Lally.</div>

    <div>
        <a  class="divLarge" href='/signin/b404a8d5-5e33-4417-ae20-5d4d147042ee'>Sign In</a>
    </div>
    
<!--    <div>
        Registerd Palmer users click <a href='/signin/arnie2018'>here</a> to sign in!
    </div> -->
	<header>
	    <% include ./partials/footer %>
	</header>    
  </body>
</html>
